{% extends "base.html" %}
{% block title %} Добавить мнение о фильме {% endblock %}
{% block content %}
<main>
  <section class="container my-5">
    <div class="row">
      <h1>Добавить мнение о фильме</h1>
      <div class="col-12 col-lg-7 my-5">
        <!-- Добавляем тег form и указываем,
        что отправлять форму надо методом POST, а валидировать в браузере не надо -->
        <form method="POST" novalidate>
          {{ form.csrf_token }}
          <!-- Указываем CSS-классы и placeholder -->
          {{ form.title(class="form-control form-control-lg py-3 mb-3", placeholder=form.title.label.text) }}<br />
          {{ form.source(class="form-control form-control-lg py-3 mb-3", placeholder=form.source.label.text) }}<br />
          <!-- Указываем CSS-классы, placeholder, rows и cols: -->
          {{ form.text(class="form-control form-control-lg py-3 mb-3", placeholder=form.text.label.text,rows="3", cols="40") }}<br />
          <!-- Указываем CSS-классы для кнопки: -->
          {{ form.submit(class="button px-5 py-3 btn") }}
        </form>
        <p class="py-3 mb-3">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            {% endif %}
          {% endwith %}
        </p>
      </div>
      <div class="col-12 col-lg-5">
        <img
          class="img-fluid mx-auto d-block"
          src="{{ url_for('static', filename='img/illustration.png') }}"
          alt=""
        />
      </div>
    </div>
  </section>
</main>
{% endblock %}